.movie {
    margin-top: 100px;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 480px){
    .movie {
        flex-direction: column-reverse;
        margin-top: 0%;
    }
    .movie__backdrop {
        left: 80%;
        position: relative;
    }
}

.movie__intro {
    width: 42%;
    margin-top: 50px;
}

.movie__intro img {
    width: 300px;
    height: 100%;
    right: 0;
    object-fit: contain;
    margin-bottom: 10px;
    margin-left: -100px;
}

.movie__detailLeft {
    position: relative;
    width: 100%;
    left: 1%;
}

.movie__detailLeftTop > div{
    margin-bottom: .5rem;
}

.movie__name {
    font-weight: 600;
    font-size: 2.3rem;
} 

.movie__runtime, .movie__year {
    margin-right: 1.2rem;
    font-weight: 600;
    opacity: 0.8;
}

.movie__director, .movie__actor{
    margin-top: 8px;
    font-size: 14px;
}

.movie__info {
    width: 80%;
    font-size: 16px;
}

.icons {
    font-size: 28px;
    margin-right: 10px;
    margin-top: 10px;
    opacity: 0.8;
}
