Body{
    font-family: 'Amazon Ember', sans-serif;
    font-size: 13px;
    color: white;
    background-color: black;
}

.welcome{
    background: url("https://i.ibb.co/JrkSWKK/welcome-img.jpg") top right transparent no-repeat;
    height: 650px;
    margin-top: 60px;
}

.container{
    padding: 100px;
    margin-right: 50%;
}

.container h1{
    font-size: 45px;
    font-weight: 300;
    line-height: 20px;
}

.container h4{
    font-size: 25.8px;
    font-weight: 300;
    margin-bottom: -1px;
}

.btn-block{
    height: 55px;
    width: 48%;
    font-size: 17px;
}

.container p{
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;
    padding: 0 20px;
}

/* rent section */
.Rent{
    background: url("https://i.ibb.co/VwPCYmc/rent-img.jpg")top right transparent no-repeat;
    height: 650px;
    margin-top: -60px;
}

.container1{
    padding: 100px;
    padding-top: 200px;
    margin-right: 50%;
}

.container1 h1{
    font-size: 40px;
    font-weight: 400;
    line-height: 18px;
}

.container1 h4{
    font-size: 21px;
    font-weight: 300;
    margin-bottom: 12px;
}

.btn-block1{
    height: 50px;
    width: 37%;
    font-size: 17px;
}

/* TV Stick */

.fireStick{
    background: url("https://i.ibb.co/mBtFRrc/fire-stick-img.png") top left transparent no-repeat;
    height: 645px;
    margin-top: -57px;
}

.container2{
    padding: 100px;
    padding-top: 170px;
    margin-left: 50%;
}

.container2 h1{
    font-size: 40px;
    font-weight: 400;
    line-height: 18px;
}

.container2 h4{
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 12px;
}

.btn-block1{
    height: 50px;
    width: 37%;
    font-size: 17px;
}

/* Family Friendly */
.family{
    background: url("https://i.ibb.co/93xR4V1/family-img.png") top right transparent no-repeat;
    height: 645px;
    margin-top: -7px;
}

.container3{
    padding: 100px;
    padding-top: 170px;
    margin-right: 50%;
}

.container3 h1{
    font-size: 40px;
    font-weight: 400;
    line-height: 18px;
}

.container3 h4{
    font-size: 20.5px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 12px;
}

.btn-block1{
    height: 55px;
    width: 37%;
    font-size: 17px;
}


@media screen and (max-width: 480px) {
    .container {
        padding: 10%;
        padding-top: 100px;
    }
    .container1,.container2, .container3 {
        padding: 40px;
        padding-top: 108px;
    }
    footer {
        margin-top: -52px;
    }
}